:root{
    --main-color: #9d2ffa;
    --main-color-disabled: #8235c0;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.tabs-settings-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #00000080;
    display: flex;
    justify-content: center;
}

.tab-btn-css {
    border-radius: 23px;
    width: 160px;
    height: 45px;
    margin: auto 30px;
    border-radius: 15px;
    margin: 25px auto;
    background-color: var(--main-color);
    border-top-left-radius: 35px 100%;
    border-top-right-radius: 35px 100%;
    border-bottom-left-radius: 35px 100%;
    border-bottom-right-radius: 35px 100%;
    box-shadow: 0 0 8px 1px #ffffffab;
    transition: .5s;
    padding: 0px 20px!important;
    text-transform: uppercase;
    border: none;
    color: #121212;
    font: normal normal bold 15px/20px Montserrat;
    cursor: pointer;
    outline: none;
    
}

.tab-btn-css:hover {
    color: #fff!important;
    border-top-left-radius: 25px 100%;
    border-top-right-radius: 25px 100%;
    border-bottom-left-radius: 25px 100%;
    border-bottom-right-radius: 25px 100%;
    box-shadow: 0 0 8px 1px #ffffffad;
    animation: ease-in-out;
    transform: scale(1.06);
}

.active-tab-btn {
    color: #fff!important;
    background-color: var(--main-color-disabled);
    border-top-left-radius: 25px 100%;
    border-top-right-radius: 25px 100%;
    border-bottom-left-radius: 25px 100%;
    border-bottom-right-radius: 25px 100%;
    box-shadow: 0 0 8px 1px #7c7c7cad;
    transition: .5s;
    transform: scale(1.03);
}

.active-tab-btn:hover {
    color: #fff!important;
    border-top-left-radius: 25px 100%;
    border-top-right-radius: 25px 100%;
    border-bottom-left-radius: 25px 100%;
    border-bottom-right-radius: 25px 100%;
    box-shadow: 0 0 8px 1px #ffffffad;
    animation: ease-in-out;
    transform: scale(1.06);
}

.tabs-settings-content {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;
    padding-bottom: 1.5rem;
    border-radius: 20px;
    background: transparent;
    opacity: 0;
    pointer-events: none;
}

.active-tab-content {
    opacity: 1;
    pointer-events: all;
}

.information {
    padding: 0 40px;
    font: normal normal normal 16px/25px Montserrat;
    color: #F1F1F1;
}

.title-settings {
    text-align: center;
    font: normal normal bold 20px/25px Montserrat;
    text-transform: uppercase;
    color: #F1F1F1;
    margin: 2% 0;
}

.center-align {
    text-align: center;
}

.settings-content-scroll {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.settings-content-scroll::-webkit-scrollbar {
    width: 0;
}

.center-page {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}


/*******************************************************************************
 *                                                                             *
 * account sttings                                                             *
 *                                                                             *
 ******************************************************************************/

.add-account {
    width: 7%;
    height: 10%;
    border: none;
    border-radius: 15px;
    font: normal normal bold 30px/40px Montserrat;
    color: #D1D1D1;
    background-color: var(--main-color-disabled);
    border-top-left-radius: 35px 100%;
    border-top-right-radius: 35px 100%;
    border-bottom-left-radius: 35px 100%;
    border-bottom-right-radius: 35px 100%;
    box-shadow: 0 0 8px 1px #ffffffab;
    margin: 20px 0;
    margin-bottom: 10px;
    transition: all .5s;
}

.add-account:hover {
    color: #fff!important;
    border-top-left-radius: 25px 100%;
    border-top-right-radius: 25px 100%;
    border-bottom-left-radius: 25px 100%;
    border-bottom-right-radius: 25px 100%;
    box-shadow: 0 0 8px 1px #ffffffad;
    animation: ease-in-out;
    cursor: pointer;
    transform: scale(1.06);
}


.accounts {
    display: contents;
    justify-content: center;
}

.account {
    display: inline-block;
    background: var(--main-color);
    border-top-left-radius: 35px 100%;
    border-top-right-radius: 35px 100%;
    border-bottom-left-radius: 35px 100%;
    border-bottom-right-radius: 35px 100%;
    box-shadow: 0 0 8px 1px #ffffffab;
    font: normal normal bold 30px/40px Montserrat;
    width: 500px;
    height: 100px;
    margin: 1% 2%;
    border-radius: 100px;
    text-align: start;
    transition: all .5s;
}

.account:hover {
    color: #fff!important;
    border-top-left-radius: 25px 100%;
    border-top-right-radius: 25px 100%;
    border-bottom-left-radius: 25px 100%;
    border-bottom-right-radius: 25px 100%;
    box-shadow: 0 0 8px 1px #ffffffad;
    animation: ease-in-out;
    cursor: pointer;    
    transform: scale(1.06);
}

.account-image {
    position: absolute;
    border-radius: 31px;
    height: 70px;
    margin: 15px 20px;
    pointer-events: none;
}

.account-name {
    margin: 0 100px;
    margin-top: 15px;
    font: normal normal bold 24px/35px Montserrat;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 29ch;
    pointer-events: none;
}

.account-uuid {
    margin: 0 100px;
    font: normal normal normal 18px/27px Montserrat;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 29ch;
    pointer-events: none;
}

.account-delete {
    margin: -60px 415px;
    color: #f73434;
    font-size: 50px;
    background: #353535c7;
    box-shadow: 0 0 5px #353535c7;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
}

.account-delete:hover {
    box-shadow: 0 0 5px #802222c7;
    animation: ease-in-out;
}

.icon-account-delete-btn {
    margin: 7px 9px;
    position: absolute;
    pointer-events: none;
}

.active-account {
    color: #fff!important;
    border-top-left-radius: 25px 100%;
    border-top-right-radius: 25px 100%;
    border-bottom-left-radius: 25px 100%;
    border-bottom-right-radius: 25px 100%;
    box-shadow: 0 0 8px 1px #686868ad;
    animation: ease-in-out;
    transform: scale(1.03);
}

.active-account:hover {
    color: #fff!important;
    border-top-left-radius: 25px 100%;
    border-top-right-radius: 25px 100%;
    border-bottom-left-radius: 25px 100%;
    border-bottom-right-radius: 25px 100%;
    box-shadow: 0 0 8px 1px #ffffffad;
    animation: ease-in-out;
    transform: scale(1.06);
    transition: all .5s;
}


/*******************************************************************************
 *                                                                             *
 * java settings                                                               *
 *                                                                             *
 ******************************************************************************/

.java-settings {
    background: #292929;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.memory-slider {
    position: relative;
    margin: 24px;
    height: 18px;
    width: 550px;
    user-select: none;
}

.slider-touch-left,
.slider-touch-right {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    z-index: 2;
}

.slider-touch-left span,
.slider-touch-right span {
    display: block;
    width: 20px;
    height: 10px;
    background: #F1F1F1;
    border: 4px solid var(--main-color);
    transition: background-color .2s, border .2s;
    border-radius: 18px;
    cursor: pointer;
}

.slider-touch-left span:after,
.slider-touch-right span:after {
    content: attr(value);
    color: var(--main-color);
    font: normal normal bold 12px/18px Montserrat;
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
    top: -20px;
    left: 83%;
    transform: translate(-50%);
}

.slider-line {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 18px);
    left: 9px;
    top: 7px;
    height: 4px;
    border-radius: 4px;
    background-color: #F0F0F0;
    transition: background-color .2s;
    z-index: 0;
    overflow: hidden;
}

.slider-line span {
    display: block;
    height: 100%;
    width: 0%;
    background: var(--main-color);
    transition: background-color .2s;
}

.ram-info {
    display: flex;
    align-items: center;
    font: normal normal bold 15px/25px Montserrat;
    color: #F1F1F1F1;
}

.path {
    min-width: 50%;
    font: normal normal normal 13px/20px Montserrat;
    border-radius: 18px;
    padding: 8px 16px;
    margin: 0 40px;
    margin-top: 2%;
    color: #F1F1F1F1;
    background-color: #1f1f1f;
    user-select: text;
    transition: color .2s, background-color .2s;
    border: none;
    outline: none;
}

.path-button {
    font: normal normal bold 13px/20px Montserrat;
    border-radius: 18px;
    padding: 8px 30px;
    background-color: var(--main-color);
    cursor: pointer;
    margin-left: 20px;
    transition: color .2s, background-color .2s;
    border: none;
    outline: none;
}

.path-button:hover {
    background-color: #1f1f1f;
}

.path-button-reset {
    font: normal normal bold 13px/20px Montserrat;
    border-radius: 18px;
    padding: 8px 30px;
    background-color: var(--main-color);
    cursor: pointer;
    margin-left: 20px;
    transition: color .2s, background-color .2s;
    border: none;
    outline: none;
}

.path-button-reset:hover {
    background-color: #1f1f1f;
}

.path-file {
    display: none;
    pointer-events: none;
}

.args-settings {
    min-width: 50%;
    font: normal normal normal 13px/20px Montserrat;
    border-radius: 18px;
    padding: 8px 16px;
    margin: 0 40px;
    margin-top: 2%;
    color: #F1F1F1F1;
    background-color: #1f1f1f;
    user-select: text;
    transition: color .2s, background-color .2s;
    border: none;
    outline: none;
}


/*******************************************************************************
 *                                                                             *
 * resolution settings                                                         *
 *                                                                             *
 ******************************************************************************/

.input-size-content {
    height: 5rem;
}

.input-size {
    position: absolute;
    display: flex;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
}

.input-settings {
    text-align: center;
    background: #000;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    width: 100px;
    color: #fff;
}

.size-cross {
    margin: 10px;
}

.size-cross:before {
    font: normal normal bold 20px Icons;
    content: "\e90e";
}

.select-wrap {
    display: inline-flex;
    margin-left: 10px;
}

.select-wrap:before {
    position: absolute;
    top: 53%;
    transform: translate(20px, -50%);
    font-size: 24px;
    pointer-events: none;
}

.select-wrap:after {
    position: relative;
    top: -6px;
    content: "\e903";
    font-family: 'Icons';
    margin-left: -1.2em;
    font-size: 24px;
    pointer-events: none;
    transform: rotate(180deg);
    color: #000;
    transition: color .2s;
    pointer-events: none;
}

.select {
    border-radius: 15px;
    background-color: var(--main-color);
    font: normal normal normal 12px/18px Montserrat;
    transition: color .2s, box-shadow .2s;
    border: none;
    outline: none;
    appearance: none;
}



/*******************************************************************************
 *                                                                             *
 * launcher settings                                                           *
 *                                                                             *
 ******************************************************************************/
 .checkbox-settings {
    display: none;
}

.checkbox-settings+label {
    display: inline;
    position: relative;
    top: 2px;
    margin-right: 24px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    transition: background-color .2s;
    padding: 0px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.checkround {
    position: absolute;
    z-index: 2;
    border-radius: 7px;
    transition: all .2s;
    box-shadow: 0px 0px 0px 1px #fff inset;
    background-color: #FFFFFF;
}

.checkbox-settings:checked+label {
    background-color: var(--main-color);
}

.checkround {
    border-radius: 3px;
}

.checkbox-settings+label {
    display: inline-block;
    margin-right: 8px;
}
.pcheckround {
    display: inline-block;
    position: relative;
    font: normal normal bold 12px Montserrat;
    color: #fff;
}